<h2>List of all Candidates</h2>

<form action="" class="forms" id="frmCandidates">
  <fieldset>
    <legend>Filter</legend>
    <label>
      Lembaga
      <span id="sLembaga"></span>
    </label>
    <label>
      Kelamin
      <span id="sKelamin"></span>
    </label>
    <label>
      Provinsi
      <span id="sProvinsi"></span>
    </label>
    <label>
      Dapil
      <span id="sDapil"></span>
    </label>
    <label>
      Partai
      <span id="sPartai"></span>
    </label>
    <label id="btnReset">
      Klik untuk mereset filter
      <button class="btn btn-green" type="reset">Reset</button>
    </label>
  </fieldset>
</form>


<table id="tblCandidates" class="width-100">
  <thead>
    <tr>
      <th class="width-10">Lembaga</th>
      <th class="width-30">Nama</th>
      <th class="width-10">Kelamin</th>
      <th class="width-20">Dapil</th>
      <th class="width-30">Provinsi</th>
      <th style="display: none;">Partai</th>
    </tr>
  </thead>
  <tbody>
    <% @response.parsed_response['data']['results']['candidates'].each do |candidate| %>
    <tr>
      <td><%= candidate['lembaga'] %></td>
      <td><%= link_to candidate['nama'], {controller: "candidates", action: "show", id: candidate['id']}, {target: "_blank"} %></td>
      <td><%= candidate['kelamin'] %></td>
      <td><%= candidate['dapil']['nama'] unless candidate['dapil'].blank? %></td>
      <td><%= candidate['provinsi']['nama'] unless candidate['provinsi'].blank? %></td>
      <td style="display: none;"><%= candidate['partai']['nama'] unless candidate['partai'].blank? %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th style="display: none;"></th>
      <th></th>
      <th></th>
      <th></th>
      <th style="display: none;"></th>
    </tr>
  </tfoot>
</table>
