<h2>Rincian calon</h2>

<br>

<%= link_to "« Back to List of candidates", candidates_path, class: "btn btn-blue" %>

<br>
<br>

<p>
  <img src="<%= @candidate['foto_url'] %>" style="max-height:300px;" alt="Foto <%= @candidate['nama'] %>">
</p>

<p>
  <strong>Lembaga:&nbsp;</strong><%= @candidate['lembaga'] %>
</p>

<p>
  <strong>Nama:&nbsp;</strong><%= @candidate['nama'] %>
</p>

<p>
  <strong>Kelamin:&nbsp;</strong><%= @candidate['jenis_kelamin'] %>
</p>

<p>
  <strong>Domisili:&nbsp;</strong><%= @candidate['domisili'] %>
</p>

<p>
  <strong>Urutan:&nbsp;</strong><%= @candidate['urutan'] %>
</p>

<p>
  <strong>Provinsi:&nbsp;</strong><%= @candidate['provinsi']['nama'] unless @candidate['provinsi'].blank? %>
</p>

<p>
  <strong>Dapil:&nbsp;</strong><%= @candidate['dapil']['nama'] unless @candidate['dapil'].blank? %>
</p>

<p>
  <strong>Partai:&nbsp;</strong><%= @candidate['partai']['nama'] unless @candidate['partai'].blank? %>
</p>
