<!DOCTYPE html>
<html>
<head>
  <title>Calon API Website</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <header id="header">
      <h1>Calon API Website</h1>
      <nav class="nav-g">
        <ul>
          <li><span><%= link_to "Home", root_path %></span></li>
        </ul>
      </nav>
    </header>
    <div id="main">
      <%= yield %>
    </div>
    <footer id="footer">
      &copy; All rights reserved.
    </footer>
  </div>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
